/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active {
  outline: none;
}
a:focus, a:active {
  outline: none;
}
nav, footer, header, aside {
  display: block;
}
html{
  font-size: 14px;
}
body {
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  color: white;
  background-color: #231F20;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input, button, textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a, a:visited {
  color:white;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul, li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}
/*Сетка для мобил и десктоп*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/*Мобильная верстка*/
/* For mobile phones: */
.col-m-1 {width: 16.66%;}
.col-m-2 {width: 33,32%;}
.col-m-3 {width: 50%;}
.col-m-4 {width: 66.64%;}
.col-m-5 {width: 83.3%;}
.col-m-6 {width: 100%;}
/*First slide, slide feutures, Contents*/
.container, .feutures, .Contents{
  max-width: 1000px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 37px;
  height: 100%;
}
.container__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  height: 100%;
}
.container__content > .menu {

}
.menu__content {
  display: flex;
  justify-content: space-between;
  font-display: row;
}
.link {
  display: flex;
  justify-content: space-between;
  font-size: 1.14rem;
  font-weight: 500;
  line-height: 1.7rem;
  align-items: center;
  text-align: center;
}
.buttom {
  display: flex;
  justify-content: flex-end;
}
.menu__button {
  border: 1px solid white;
  font-style: 1.21rem;
  padding: 1.4rem 2.2rem;
  background-color:#231F20;
  color: white;
  overflow: none;
}
.menu__button:hover {
  background-color:#4452FE;;
  border: none;
}
.menu_ImageTag, .feutures__Image, .feutures__icon, .fon__image {
  max-width: 100%;
  height: 100%;
}
.menu__link {
  border-bottom:none;
}
.menu__link:hover {
  border-bottom: 1px solid white;
}
.container__content > .text {
  height: 100%;
  margin: 0 auto;
  margin-top: 6.07rem;
}
.text__header {
  font-weight: 500;
  font-size: 5.71rem;
  line-height: 6.28rem;
  letter-spacing: 0.2px;
  margin: 0 auto;
}
.text__description {
  font-size: 1.42rem;
  line-height: 2.14rem;
  letter-spacing: 0.2px;
  padding: 0.71rem;
  margin: 1.92rem auto;
}
.text__description_b {
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom, white, black);
}
.container__content > .button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5.71rem;
}
.menu__buttom__button {
 margin: 0 1.25rem; 
}
.fon {
  position: relative;
  margin-top: 35px;
}
.fon__gradient {
  position: absolute;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, #0E0E0E 100%);
}
.Header__content {
  height: 100%;
}
.Header__description, .Header__header {
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 3.71rem;
  line-height: 4.42rem;
  margin-bottom: 2rem;
}
.Header__description {
  text-transform: none;
  font-size: 1.42rem;
  line-height: 2.14rem;
  word-spacing: 5px;
}
.feutures__content2,.icon__name {
  display: flex;
  flex-direction: row;
}
.name {
  font-size: 1.42rem;
  line-height: 2.14rem;
  height: 100%;
  text-align: left;
  padding: 5px;
}
.icon__name {
  padding-bottom: 10px;
}
.description {
  font-size: 1.14rem;
  line-height: 1.71rem;
  text-align: left;
}
.colunm__block {
  margin-bottom: 3rem;
}